<h1>
    ThunderHead Login
</h1>
<h3>We never store your Dexcom credentials. Feel free to look through our code on Github to verify.</h3>
<h3>We reccomend not changing the weights unless you are purposefully experimenting with the predictive algorithm </h3>
<form method="post">
  Dexcom Username: <input name="name"/>
  <br/><br/>
  Dexcom Password: <input name="email" type="password"/>
  <br/><br/>
  Low Threshold: <input name="low" value = "65"/>
  <br/><br/>
  High Threshold: <input name="high" value = "250"/>
  <br/><br/>
  First Weight: <input name="fw" value = ".25"/>
  <br/><br/>
  Second Weight: <input name="sw" value = ".25"/>
  <br/><br/>
  Third Weight: <input name="tw" value = ".50"/>
  <br/><br/>
  <button type="submit">Submit</button>
</form>